<h1>Add from Existing Recipes:</h1>
<%if @recipes.exists?%>
<%=form_with(model: @week) do |f|%>
    
    <% @recipes.each do |recipe|%>
        <p><%= f.check_box recipe.id%>
        <%=link_to recipe.name, recipe_path(recipe) %> | <%= link_to "delete", recipe_path(recipe), method: :delete%></li></p>
    <%end%>
    <%= f.submit "Add Recipe to Week"%>
<%end%>
<%else%>
    <p class="alert"> You don't have any existing recipes, please create recipe!</p>
        <%end%>
    <h1>or Create New Recipe:</h1>

<%= link_to "Create New Recipe", new_recipe_path %>
<br><br>

