<h1> Hello <%=@user.name%></h1>

<img src="<%=current_user.profile_image%>"/>

<p><h3>User Info:</h3></p>

<p>Name: <%=current_user.name%></p>
<p>Email: <%=current_user.email%></p>
<p>Currently on: Week <%=Week.current_week%></p>

<p>Total Recipes: <%=Recipe.all.count%></p>

<p><%= link_to "Edit User Info" , edit_user_path(current_user) %></p>
<br><br>