
<img src="<%=current_user.profile_image%>"/>  <h1>Dashboard of: <%=current_user.name%></h1>

<p><h2 class="blue">You are on Week <%=Week.current_week%></h2></p>
<br>
<h1> Your Recipes for this week </h1>

<% if @week%>
    <%@week.recipe_weeks.each do |recipe_week|%>
        <p><li><%=recipe_week.recipe.name%> | <%=link_to "Edit", edit_recipe_path(recipe_week.recipe)%> | <%=link_to "Ingredients", recipe_ingredients_path(recipe_week.recipe)%> |
         <%= link_to "Delete", recipe_week_path(recipe_week),  method: :delete %></li></p>
    <%end%>
<%end%>

<p><%=link_to "Your Recipe List", recipes_path%></p>

<br>
<h1> Shopping list for this Week</h1>

<% if @week%>
    <%= form_with(model: @week) do |f|%>

        <% @week.week_ingredients.each do |week_ingredient|%>

            <p>
                <%unless week_ingredient.checked%>
                    <%= f.check_box week_ingredient.id, {checked: week_ingredient.checked}%>
                <%end%>
                <%=week_ingredient.ingredient_quantity %> <%=week_ingredient.ingredient_name %>
            </p>
        <%end%>
        <%= f.submit "clear"%>
    <%end%>
<%end%>

        
        
    



<br><br>

