
<img src="<%=current_user.profile_image%>"/>  <h1>Dashboard of: <%=current_user.name%></h1>

<p><h2 class="blue">You are on Week <%=Week.current_week%></h2></p>

<h2> Your Recipes for this week </h2>

<% if @week%>
    <%@week.recipes.group(:name).each do |recipe|%>
        <p><li><%=recipe.name%> | <%=link_to "Edit", edit_recipe_path(recipe)%> | <%=link_to "Ingredients", recipe_ingredients_path(recipe)%> | <%#=link_to "Delete", week_recipes_path(recipe),  method: :delete%></li></p>
    <%end%>
<%end%>

<p><%=link_to "Your Recipe List", recipes_path%></p>

<h1> Shopping list for this Week</h1>

<% if @week%>
    <%= form_with(model: @week) do |f|%>

        <% @week.week_ingredients.each do |week_ingredient|%>

            <p>
                <%unless week_ingredient.checked%>
                    <%= f.check_box week_ingredient.id, {checked: week_ingredient.checked}%>
                <%end%>
                <%=week_ingredient.ingredient_quantity %> <%=week_ingredient.ingredient_name %>
            </p>
        <%end%>
        <%= f.submit "clear"%>
    <%end%>
<%end%>

        
        
    



<br><br>

